<link rel="stylesheet" href="/css/styles.css" />
<%-include('../partials/head') %>
  <body>
    <!-- HEADER -->
    <%-include('../partials/header') %>
    <main>
      <div class="main-container">
        <div class="slideshow-container">
          <div class="photoslide fade">
            <div class="numbertext">1 / 3</div>
            <img src="images/Logo.png" style="width: 100%" />
            <div class="text">Product 1</div>
          </div>

          <div class="photoslide fade">
            <div class="numbertext">2 / 3</div>
            <img src="images/Logo.png" style="width: 100%" />
            <div class="text">Product 2</div>
          </div>

          <div class="photoslide fade">
            <div class="numbertext">3 / 3</div>
            <img src="images/Logo.png" style="width: 100%" />
            <div class="text">Product 3</div>
          </div>

          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>

          <br />

          <div style="text-align: center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>
          <script>
            let slideIndex = 1;
            showSlides(slideIndex);

            // Next/previous controls
            function plusSlides(n) {
              showSlides((slideIndex += n));
            }

            // Thumbnail image controls
            function currentSlide(n) {
              showSlides((slideIndex = n));
            }

            function showSlides(n) {
              let i;
              let slides = document.getElementsByClassName("photoslide");
              let dots = document.getElementsByClassName("dot");
              if (n > slides.length) {
                slideIndex = 1;
              }
              if (n < 1) {
                slideIndex = slides.length;
              }
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
              }
              for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
              }
              slides[slideIndex - 1].style.display = "block";
              dots[slideIndex - 1].className += " active";
            }

            showSlidesAutomatic();

            function showSlidesAutomatic() {
              let i;
              let slides = document.getElementsByClassName("photoslide");
              for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
              }
              slideIndex++;
              if (slideIndex > slides.length) {
                slideIndex = 1;
              }
              slides[slideIndex - 1].style.display = "block";
              setTimeout(showSlidesAutomatic, 7000); // Change image every 5 seconds
            }
          </script>
        </div>

        <div class="products">
          <% products.forEach(oneProduct => { %>
      
            <div class="card">
              <a href="product">
                <article class="product">
                  <img
                  class="photo-product"
                  width="300"
                  src="/../../images/products/<%= oneProduct.imageProduct %>"
                  alt="product1"
                  />
                  <div class="main-article">
                    <p class="precio"><%= oneProduct.priceProduct %></p>
                    <h4 class="description"><%= oneProduct.descriptionProduct %></h4>
                  </div>
                </article>
              </a>
            </div>
            
          <% }) %>
       </div>
        <div class="chat">
          <a href="/contact">
            <i class="far fa-comment-dots"></i>
          </a>
        </div>
      </div>

      <!-- FOOTER -->
      <%-include('../partials/footer') %>
    </main>
  </body>
</html>
