<link rel="stylesheet" href="/css/styles.css" />
<%-include('../partials/head') %>
  <body>
    <!-- HEADER -->
    <%-include('../partials/header') %>
    <main class="product-main">
      <section class="primera-info">
        <!-- <div class="img"> -->
        <img src="<%=productToEdit.imageProduct%>" alt="imagen" />
        <!-- </div> -->
        <div class="info">
          <h4 class="title"><%=productToEdit.nameProduct%></h4>
          <h4 class="title"><%=productToEdit.priceProduct%></h4>

          <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          </div>
          <form method="get">
            <div class="form1">
              <label for="colors">Seleccione un color</label>
              <select name="colors" id="colors">
                <% colors.forEach(oneColor => { %>
                  <option value="<%= oneColor.idColor %>"><%= oneColor.nameColor %> </option>
                 <% }) %>
          
              </select>
            </div>
            <div class="form2">
              <label for="sizes">Seleccione un talle</label>
              <select name="sizes" id="sizes">
                <% sizes.forEach(oneSize => { %>
                  <option value="<%= oneSize.idSize %>"><%= oneSize.nameSize %> </option>
                 <% }) %>
              </select>
            </div>
          </form>
          <div class="buttons">
            <button>Comprar</button>
            <a href="/carrito"><button>Agregar al carrito</button></a>

            <a href="/products/edit/<%=product.id%>"><button>Editar</button></a>
          </div>
        </div>
      </section>
      <section class="description-product">
        <h3>Descripcion</h3>
        <p>
          <%=product.descriptionProduct%>
        </p>
      </section>
    </main>
    <!-- FOOTER -->
    <%-include('../partials/footer') %>
  </body>
</html>
