<%-include('../partials/head') %>

  <body>
    <!-- HEADER -->
    <%- include('../partials/header') %>
    <script src="frontValidation.js"></script>
      <main class="login-register">
        <div class="forms">
          <!-- Log in -->
          <div class="login">
            <h2>CLIENTES REGISTRADOS</h2>

            <form class="loginform"  action="/user/profile" method="POST">
              <div class="email">
<<<<<<< HEAD
                <label for="login-email">Correo electrónico</label>
                <input type="email" name="login-email" id="login-email" placeholder="Correo electrónico" minlength="5"
=======
                <label for="email">Correo electrónico</label>
                <input type="email" name="email" id="oldemail" placeholder="Correo electrónico" minlength="5"
>>>>>>> front-design
                  class="<%= locals.errors && errors.email ? 'is-danger' : '' %> "
                  value="<%= locals.errors && errors.value('email') %>" oninvalid="alert('You must fill out the form!')" />
                <div>
                  <% if(locals.errors && errors.has('email')) { %>
                    <p class="feedback is-danger">
                      <%= errors.msg('email') %>
                    </p>
                    <% } %>
                </div>
              </div>
              <div class="password">
<<<<<<< HEAD
                <label for="login-password">Contraseña</label>
                <input type="password" name="login-password" id="login-password" placeholder="Contraseña" minlength="8" />
=======
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="oldpassword" placeholder="Contraseña" minlength="8" />
>>>>>>> front-design
              </div>
              <div class="field">
                <label for="remember">Recordar mis datos</label>
                <div class="control">
                    <input type="checkbox" name="remember" id="remember">
                </div>
              </div>
              <div class="login-button">
                <button class="submit" type="submit">Enviar</button>
              </div>
            </form>
          </div>

          <!-- Registro -->

          <div class="register">
            <h2>NUEVOS CLIENTES</h2>
<<<<<<< HEAD
            <form action="/user/create" method="POST" enctype="multipart/form-data">
              <div class="email">
                <label for="register_email">Correo electrónico</label>
                <input type="email" name="register_email" id="register_email" placeholder="Correo electrónico" minlength="5" value="<%= locals.old && old.email ? old.email : ''%>">
              </div>
              <div class="password">
                <label for="register_password">Contraseña</label>
                <input type="password" name="register_password" id="register_password" placeholder="Contraseña" minlength="8" />
=======
            <form class="registerform" action="user/create" method="POST" enctype="multipart/form-data">
              <div class="email">
                <label for="email">Correo electrónico</label>
                <input class='email' type="email" name="email" id="newemail" placeholder="Correo electrónico" minlength="5" value="<%= locals.old && old.email ? old.email : ''%>">
              </div>
              <div class="password">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="newpassword" placeholder="Contraseña" minlength="8" />
>>>>>>> front-design
              </div>
              <div class="first_name">
                <label for="first_name">Nombre y apellido</label>
                <input type="text" name="first_name" id="first_name" placeholder="Nombre y apellido"
                  value="<%= locals.old && old.first_name ? old.first_name : ''%>">
              </div>
              <!-- <div class="last_name">
                <label for="last_name">Apellido</label>
                <input type="text" name="last_name" id="last_name" placeholder="Apellido" required
                  value="<%= locals.old && old.last_name ? old.last_name : ''%>">
              </div> -->
              <div class="id_num">
                <label for="id_num">DNI</label>
                <input type="number" name="id_num" id="id_num" placeholder="Número de DNI" required
                  value="<%= locals.old && old.id_num ? old.id_num : ''%>">
              </div>
              <div class="birth_date">
                <label for="birth_date">Fecha de nacimiento</label>
                <input type="date" name="birth_date" id="birth_date" required
                  value="<%= locals.old && old.birth_date ? old.birth_date : ''%>">
              </div>
              <div class="sex">
                <label for="sex">Sexo</label>
                <select name="sex" required>
                  <option value="empty">Seleccionar</option>
                  <option value="female">Femenino</option>
                  <option value="male">Masculino</option>
                </select>
              </div>
              <div>
                <button class="submit" type="submit">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </main>

      <!-- FOOTER -->
      <%- include('../partials/footer') %>
  </body>

  </html>