<%-include('../partials/head') %>
<body>
  <!-- HEADER -->
  <%- include('../partials/header') %>

    <main class="add-product">
      <div class="product-form">
        <form action="/products/edit/<%=productToEdit.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="name">
            <label for="name">Producto</label>
            <input type="text" value="<%=productToEdit.name%>" name="name" id="name" required>
          </div>
          <div class="description">
            <label for="description">Descripción</label>
            <input type="text" name="description" id="description" required>
          </div>
          <div class="image">
            <label for="image">Imagen del producto</label>
            <input type="file" name="image" id="image">
          </div>
          <div class="category">
            <label for="category">Categoría</label>
            <select name="category" required>
              <option value="empty">Seleccionar</option>
              <option value="shoes">Calzados</option>
              <option value="shirts">Remeras</option>
              <option value="jeans">Jeans</option>
            </select>
          </div>
          <div>
            <button class="submit" type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </main>

    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>

</html>